<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1> Schüler bearbeiten </h1>
            <div class="card-body">
                <form th:action="@{/klassen/{id} (id=${klasse.id})}" th:object="${klasse}" method="POST">
                    <div class="form-group">
                        <label> Vorname </label>
                        <input type="text"
                               name="firstName"
                               th:field="*{firstName}"
                               class="form-control"
                               placeholder="Bitte Vornamen eingeben"/>
                    </div>

                    <div class="form-group">
                        <label> Nachname </label>
                        <input type="text"
                               name="lastName"
                               th:field="*{lastName}"
                               class="form-control"
                               placeholder="Bitte Nachnamen eingeben"/>
                    </div>

                    <div class="form-group">
                        <label> Email </label>
                        <input type="text"
                               name="email"
                               th:field="*{email}"
                               class="form-control"
                               placeholder="Bitte Email eingeben"/>
                    </div>

                    <div class="form-group">
                        <label> Klasse </label>
                        <input type="text"
                               name="klasse"
                               th:field="*{klasse}"
                               class="form-control"
                               placeholder="Bitte Klasse eingeben"/>
                    </div>
                    <div class="footer-body">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>